/* デフォルトスタイルのリセット */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote
{
	margin: 0;
}

html
{
  overflow-y:scroll;
}

h1,h2,h3,h4,h5,h6
{
	font-size: 8pt;
	font-weight: normal;
	padding-left: 20px;
}

p
{
  margin: 0 0 1em 0;
}

ol,ul
{
  list-style:none;
}




table
{
  border-collapse:collapse;
  border-spacing: 0;
}

caption,th
{
  text-align:left;
}

address,caption,cite,code,dfn,em,strong,th,var
{
	font-style: oblique;
}
